.benefits {
    width: 100%;
    background-color: $color-light-grey;
    padding: 50px 0;
}
.benefits_single-cart {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    width: 80%;
    padding: 50px 30px;
    margin: 50px auto;
    background-color: #fff;

    .benefits_text {
        text-align: left;

        .benefits_title {
            @include titles();
        }
        .benefits_description {
            font-size: .875rem;
            line-height: 1.25rem;
        }
    }
    .benefits_image {
        position: relative;
        img {
            position: relative;
            max-width: 80%;
            height: auto;
            z-index: 2;
        }
        &::before {
            content: '';
            display: block;
            border-radius: 50%;
        }
    }
}
.benefits_notebook .benefits_image::before {
    width: 50%;
    height: 100%;
    position: absolute;
    top: -15%;
    right: 5%;
    background-color: $color-redish;
}
.benefits_phone .benefits_image::before {
    width: 62%;
    height: 100%;
    position: absolute;
    top: -5%;
    left: 10%;
    background-color: $primary-color;
}
.benefits_double-carts {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;

    .benefits_double-first-cart{
        padding: 10px 30px 40px 30px;
        .benefits_title {
            @include titles();
            line-height: 2rem;
        }
        .benefits_description {
            font-size: 1rem;
            line-height: 1.25rem;
        }
    }
    .benefits_double-second-cart {
        background-color: $color-green;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            position: relative;
            top: 50px;
            max-width: 80%;
            height: auto;
            z-index: 2;
        }
    }
}