.open_section {
    height: 100vh;
    .open_image {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        height: auto;
    }
}
.open_section_cta {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h1 {
        font-size: 2.1875rem;
        font-family: $relaway;
    }
    p {
        text-align: center;
        line-height: 1.5em;
        max-width: 50%;
    }
    .btn_open {
        padding: 20px 90px;
        box-shadow: 5px 10px 14px #07ACE629;
    }
}