@use "sass:map";

.statistics .container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section_title {
        font-family: $relaway;
        text-align: center;
        font-size: 2.25rem;
        line-height: 1.25em;
    }
    .statistics_icons_container {
        margin: 30px 0;
        .statistics_icons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 15px;
            text-align: center;
            margin: 20px 0;
            .statistics_icons_cringle {
                position: relative;
                width: 63px;
                height: 63px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
            .statistics_icons_title {
                font-size: 1.25rem;
                font-weight: 800;
                letter-spacing: .1875rem;
                font-family: $relaway;
            }
            .statistics_icons_description {
                color: $color-grey;
            }
        }
    }
}
.statistics_icons_cringle img{
    position: absolute;
    left: 50%;
}
@media only screen and (min-width: 793px) {
    .statistics_icons_container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
    }
}